body, html {
  width: 100%;
  background-color: #f7f7f7;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: auto;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  padding: none;
  margin: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* PARALLAX STYLES */

.mainContainer {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;

}

.parallaxContainer {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;

  background-image: url("pattern2.svg");
  background-position: center;
  background-size: cover;

  color: #f7f7f7;
}

body {
  display: flex;
  flex-direction: column;
}
.contentContainer {
  position: relative;
  display: block;
  z-index: 1;
  background-color: #f7f7f7;
  padding: 0;
}

/* END PARALLAX STYLES */

.parallaxContent {
  width: auto;
  height: auto;
  margin: 0 0;
}
.parallaxContent h1 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 400%;
}

.medialinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: auto;
  margin: 1rem auto 1rem auto;
  text-align: center;
  background: none;
}

.fa:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition-duration: 0.2s;
}

.fa {
  padding: 1rem 2rem;
  background-color: #c1c1c1;
  transition-duration: 0.2s;
  text-decoration: none;
  color: black;
}

.navlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  height: auto;
  justify-content: center;
  background-color: #f7f7f7;
}

.link:hover {
  background-color: #cccccc;
  transition-duration: 0.2s;
}

.link {
  width: 25%;
  height: auto;
  text-align: center;
  transition-duration: 0.2s;
  color: #800080;
}

.article1 {
  padding: 1rem 2rem;
}
.navlink {
  text-decoration: none;
}

.medialinks2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;

}

.fa2 {
  width: 33.333%;
  position: sticky;
  top: 0;

}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: black;
}

.fa-google {
  color: #34A853;
}
.sticky {
  position: sticky;
  top: 0;

}

.content {
  line-height: 1.25;
}

.content h1:first-of-type {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.parallaxContainer h3 {
  text-align: center;
  font-size: 2rem;
  color: #dbdbdb;
}

.parallaxContentSub {
  width: 50%;
  margin: auto;
}

.blockquote {
  width: 80%;
  margin: auto;
  /* color: #6b6b6b */
  color: #800080;
}

.imagediv {
  width: 75%;
  height: auto;
  margin: auto;

  margin-top: 2rem;
  margin-bottom: 4rem;
}

.svg {
  width: 100%;
  height: auto;
}


.image1 {
  width: 100%;
  border-radius: 0.25rem;
}


.textcentre {
  text-align: center;
}

.asparitions {
  padding: 1rem 2rem;
}

.resume {
  padding: 2rem 2rem;
}











@media only screen and (max-width: 700px) {
  body {
    margin: auto;
  }
  .link {
    width: 50%;
    padding: none;
  }

  .medialinks2 {
    width: 100%;
    padding: none;
    font-size: 1rem;
  }

  .navlink {
    padding: none;
    margin: none;
    line-height: 0.1;
  }

  .parallaxContentSub {
    max-width: 60vw;
    height: auto;
    margin: auto;
  }

  .imagediv {
    width: 100%;
  }
}
